{% extends 'main.html'%}

{% block crud_container %}
    {% if user %}
        <article class="card container fluid"></article>
            <h3>{{ user.username }}</h3>
            <p>Age: {{ user.age }}</p>
            <p>ID: {{ user.id }}</p>
        <br>
    {% else %}
        <section class="container-fluid">
            <h2 align="center">Users</h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% if users %}
                        {% for user in users %}
                            <li class="list-group-item">
                                <h5>{{ user.username }}</h5>
                                <p>Age: {{ user.age }}</p>
                                <p>ID: {{ user.id }}</p>
                                <a href="/users/{{ user.id }}">View Details</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No users found.</li>
                    {% endif %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}